{% extends "layout.html"%}

{% block title %} 
    Discover
{% endblock %}

{% block main %}

    <section class="discover">
        <h2>Discover</h2>
        <div class="news-container">
            {% for new in news %}
                <div class="news-item">
                    <a href="{{ new.url }}">
                        <div class="news-item-image">
                            <img src="{{ new.img }}" alt="image7">
                        </div>
                        <div class="news-item-content">
                            <div class="organization">
                                <img src="{{ url_for('static', filename='news/' + new.logo) }}" alt="img">
                                <div class="title">
                                    <h4>{{ new.orgName }}</h4>
                                    <p class="{{ new.type }}">{{ new.type }}</p>
                                </div>
                            </div>
                            <p class="text">{{ new.desc }}</p>  
                            <p>📍 {{ new.place }} </p>
                            <p>📅 {{ new.date }}</p>
                            <p>🕒 {{ new.time }} </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock%}