{% extends "layout.html" %}

{% block title %}
    Password
{% endblock %}

{% block main %}
    <section class="form">
        <div class="form-content">
            <h2>Change Password</h2>
            <form action="/password" method="post">
                <div class="input-group">
                    <div class="form-floating">
                      <input autocomplete="off" autofocus type="password" class="form-control" name="old_password" id="old_password" placeholder="Old Password" required>
                      <label for="old_password">Old Password</label>
                    </div>
                </div>
                <div class="input-group">
                    <div class="form-floating">
                        <input autocomplete="off" autofocus type="password" class="form-control" name="new_password" id="new_password" placeholder="New Password" required>
                        <label for="new_password">New Password</label>
                    </div>
                </div>
                <div class="input-group">
                    <div class="form-floating">
                        <input autocomplete="off" autofocus type="password" class="form-control" name="confirmation" id="confirmation" placeholder="Confirm Password" required>
                        <label for="confirmation">Confirm Password</label>
                    </div>
                </div>

                <div class="error-message">
                    <p>{{ message }}</p>
                </div>
                
                <button class="form-btn" type="submit">Change</button>
            </form>
        </div>
    </section>
{% endblock %}
