{% extends "layout.html" %}

{% block title %}
    Sign up
{% endblock %}

{% block main %}
    <section class="form">
        <div class="form-content">
            <h2>Sign up</h2>
            <form action="/register" method="post">
                <div class="input-group">
                    <div class="form-floating">
                      <input autocomplete="off" autofocus type="text" class="form-control" name="username" id="username" placeholder="Username" required>
                      <label for="username">Username</label>
                    </div>
                </div>
                <div class="input-group">
                    <div class="form-floating">
                        <input autocomplete="off" autofocus type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="input-group">
                    <div class="form-floating">
                        <input autocomplete="off" autofocus type="password" class="form-control" name="confirmation" id="confirmation" placeholder="Confirm Password" required>
                        <label for="confirmation">Confirm Password</label>
                    </div>
                </div>
                <button class="form-btn" type="submit">Sign up</button>
            </form>
        </div>
    </section>
{% endblock %}
